n8n/sub.json
{
  "name": "small dick",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        400
      ]
    },
    {
      "parameters": {},
      "id": "b5942df6-0160-4ef7-965d-57583acdc8aa",
      "name": "Replace me with your logic",
      "type": "n8n-nodes-base.noOp",
      "position": [
        864,
        384
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "embeddingBatchSize": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        480,
        416
      ],
      "id": "1655c684-2b68-4205-950c-62e31130143a",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "EVbCzvXNsGazUWCq",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.pageContent }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=source",
                "value": "={{ $json.metadata.source }}"
              },
              {
                "name": "article",
                "value": "={{ $json.metadata.article }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        720
      ],
      "id": "f0a6a599-5e70-4342-99af-b830836c2347",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        496,
        864
      ],
      "id": "10850569-a094-405d-aff3-599a679d6d63",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "qwen3-embedding:0.6b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        336,
        704
      ],
      "id": "568ca7c3-0d10-4bcb-a295-47531d567e1d",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "i2nSmYiteGhLH9ym",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "pageContent": "刑法 第 1 條：行為之處罰，以行為時之法律有明文規定者為限。拘束人身自由之保安處分，亦同。",
          "metadata": {
            "source": "刑法",
            "article": "第 1 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 2 條：行為後法律有變更者，適用行為時之法律。但行為後之法律有利於行為人者，適用最有利於行為人之法律。 沒收、非拘束人身自由之保安處分適用裁判時之法律。 處罰或保安處分之裁判確定後，未執行或執行未完畢，而法律有變更，不處罰其行為或不施以保安處分者，免其刑或保安處分之執行。",
          "metadata": {
            "source": "刑法",
            "article": "第 2 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 3 條：本法於在中華民國領域內犯罪者，適用之。在中華民國領域外之中華民國船艦或航空器內犯罪者，以在中華民國領域內犯罪論。",
          "metadata": {
            "source": "刑法",
            "article": "第 3 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 4 條：犯罪之行為或結果，有一在中華民國領域內者，為在中華民國領域內犯罪。",
          "metadata": {
            "source": "刑法",
            "article": "第 4 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 5 條：本法於凡在中華民國領域外犯下列各罪者，適用之： 一、內亂罪。 二、外患罪。 三、第一百三十五條、第一百三十六條及第一百三十八條之妨害公務罪。 四、第一百八十五條之一及第一百八十五條之二之公共危險罪。 五、偽造貨幣罪。 六、第二百零一條至第二百零二條之偽造有價證券罪。 七、第二百十一條、第二百十四條、第二百十八條及第二百十六條行使第二百十一條、第二百十三條、第二百十四條文書之偽造文書罪。 八、毒品罪。但施用毒品及持有毒品、種子、施用毒品器具罪，不在此限。 九、第二百九十六條及第二百九十六條之一之妨害自由罪。 十、第三百三十三條及第三百三十四條之海盜罪。 十一、第三百三十九條之四之加重詐欺罪。",
          "metadata": {
            "source": "刑法",
            "article": "第 5 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 6 條：本法於中華民國公務員在中華民國領域外犯左列各罪者，適用之： 一、第一百二十一條至第一百二十三條、第一百二十五條、第一百二十六條、第一百二十九條、第一百三十一條、第一百三十二條及第一百三十四條之瀆職罪。 二、第一百六十三條之脫逃罪。 三、第二百十三條之偽造文書罪。 四、第三百三十六條第一項之侵占罪。",
          "metadata": {
            "source": "刑法",
            "article": "第 6 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 7 條：本法於中華民國人民在中華民國領域外犯前二條以外之罪，而其最輕本刑為三年以上有期徒刑者，適用之。但依犯罪地之法律不罰者，不在此限。",
          "metadata": {
            "source": "刑法",
            "article": "第 7 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 6
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 8 條：前條之規定，於在中華民國領域外對於中華民國人民犯罪之外國人，準用之。",
          "metadata": {
            "source": "刑法",
            "article": "第 8 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 7
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 9 條：同一行為雖經外國確定裁判，仍得依本法處斷。但在外國已受刑之全部或一部執行者，得免其刑之全部或一部之執行。",
          "metadata": {
            "source": "刑法",
            "article": "第 9 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 8
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 10 條：稱以上、以下、以內者，俱連本數或本刑計算。 稱公務員者，謂下列人員： 一、依法令服務於國家、地方自治團體所屬機關而具有法定職務權限，以及其他依法令從事於公共事務，而具有法定職務權限者。 二、受國家、地方自治團體所屬機關依法委託，從事與委託機關權限有關之公共事務者。 稱公文書者，謂公務員職務上製作之文書。 稱重傷者，謂下列傷害： 一、毀敗或嚴重減損一目或二目之視能。 二、毀敗或嚴重減損一耳或二耳之聽能。 三、毀敗或嚴重減損語能、味能或嗅能。 四、毀敗或嚴重減損一肢以上之機能。 五、毀敗或嚴重減損生殖之機能。 六、其他於身體或健康，有重大不治或難治之傷害。 稱性交者，謂非基於正當目的所為之下列性侵入行為： 一、以性器進入他人之性器、肛門或口腔，或使之接合之行為。 二、以性器以外之其他身體部位或器物進入他人之性器、肛門，或使之接合之行為。 稱電磁紀錄者，謂以電子、磁性、光學或其他相類之方式所製成，而供電腦處理之紀錄。 稱凌虐者，謂以強暴、脅迫或其他違反人道之方法，對他人施以凌辱虐待行為。 稱性影像者，謂內容有下列各款之一之影像或電磁紀錄： 一、第五項第一款或第二款之行為。 二、性器或客觀上足以引起性慾或羞恥之身體隱私部位。 三、以身體或器物接觸前款部位，而客觀上足以引起性慾或羞恥之行為。 四、其他與性相關而客觀上足以引起性慾或羞恥之行為。",
          "metadata": {
            "source": "刑法",
            "article": "第 10 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 9
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 11 條：本法總則於其他法律有刑罰、保安處分或沒收之規定者，亦適用之。但其他法律有特別規定者，不在此限。 第 二 章 刑事責任",
          "metadata": {
            "source": "刑法",
            "article": "第 11 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 10
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 12 條：行為非出於故意或過失者，不罰。 過失行為之處罰，以有特別規定者，為限。",
          "metadata": {
            "source": "刑法",
            "article": "第 12 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 11
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 13 條：行為人對於構成犯罪之事實，明知並有意使其發生者，為故意。 行為人對於構成犯罪之事實，預見其發生而其發生並不違背其本意者，以故意論。",
          "metadata": {
            "source": "刑法",
            "article": "第 13 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 12
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 14 條：行為人雖非故意，但按其情節應注意，並能注意，而不注意者，為過失。 行為人對於構成犯罪之事實，雖預見其能發生而確信其不發生者，以過失論。",
          "metadata": {
            "source": "刑法",
            "article": "第 14 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 13
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 15 條：對於犯罪結果之發生，法律上有防止之義務，能防止而不防止者，與因積極行為發生結果者同。 因自己行為致有發生犯罪結果之危險者，負防止其發生之義務。",
          "metadata": {
            "source": "刑法",
            "article": "第 15 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 14
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 16 條：除有正當理由而無法避免者外，不得因不知法律而免除刑事責任。但按其情節，得減輕其刑。",
          "metadata": {
            "source": "刑法",
            "article": "第 16 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 15
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 17 條：因犯罪致發生一定之結果，而有加重其刑之規定者，如行為人不能預見其發生時，不適用之。",
          "metadata": {
            "source": "刑法",
            "article": "第 17 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 16
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 18 條：未滿十四歲人之行為，不罰。 十四歲以上未滿十八歲人之行為，得減輕其刑。 滿八十歲人之行為，得減輕其刑。",
          "metadata": {
            "source": "刑法",
            "article": "第 18 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 17
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 19 條：行為時因精神障礙或其他心智缺陷，致不能辨識其行為違法或欠缺依其辨識而行為之能力者，不罰。 行為時因前項之原因，致其辨識行為違法或依其辨識而行為之能力，顯著減低者，得減輕其刑。 前二項規定，於因故意或過失自行招致者，不適用之。",
          "metadata": {
            "source": "刑法",
            "article": "第 19 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 18
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 20 條：瘖啞人之行為，得減輕其刑。",
          "metadata": {
            "source": "刑法",
            "article": "第 20 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 19
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 21 條：依法令之行為，不罰。 依所屬上級公務員命令之職務上行為，不罰。但明知命令違法者，不在此限。",
          "metadata": {
            "source": "刑法",
            "article": "第 21 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 20
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 22 條：業務上之正當行為，不罰。",
          "metadata": {
            "source": "刑法",
            "article": "第 22 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 21
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 23 條：對於現在不法之侵害，而出於防衛自己或他人權利之行為，不罰。但防衛行為過當者，得減輕或免除其刑。",
          "metadata": {
            "source": "刑法",
            "article": "第 23 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 22
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 24 條：因避免自己或他人生命、身體、自由、財產之緊急危難而出於不得已之行為，不罰。但避難行為過當者，得減輕或免除其刑。 前項關於避免自己危難之規定，於公務上或業務上有特別義務者，不適用之。 第 三 章 未遂犯",
          "metadata": {
            "source": "刑法",
            "article": "第 24 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 23
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 25 條：已著手於犯罪行為之實行而不遂者，為未遂犯。 未遂犯之處罰，以有特別規定者為限，並得按既遂犯之刑減輕之。",
          "metadata": {
            "source": "刑法",
            "article": "第 25 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 24
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 26 條：行為不能發生犯罪之結果，又無危險者，不罰。",
          "metadata": {
            "source": "刑法",
            "article": "第 26 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 25
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 27 條：已著手於犯罪行為之實行，而因己意中止或防止其結果之發生者，減輕或免除其刑。結果之不發生，非防止行為所致，而行為人已盡力為防止行為者，亦同。 前項規定，於正犯或共犯中之一人或數人，因己意防止犯罪結果之發生，或結果之不發生，非防止行為所致，而行為人已盡力為防止行為者，亦適用之。 第 四 章 正犯與共犯",
          "metadata": {
            "source": "刑法",
            "article": "第 27 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 26
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 28 條：二人以上共同實行犯罪之行為者，皆為正犯。",
          "metadata": {
            "source": "刑法",
            "article": "第 28 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 27
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 29 條：教唆他人使之實行犯罪行為者，為教唆犯。 教唆犯之處罰，依其所教唆之罪處罰之。",
          "metadata": {
            "source": "刑法",
            "article": "第 29 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 28
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 30 條：幫助他人實行犯罪行為者，為幫助犯。雖他人不知幫助之情者，亦同。 幫助犯之處罰，得按正犯之刑減輕之。",
          "metadata": {
            "source": "刑法",
            "article": "第 30 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 29
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 31 條：因身分或其他特定關係成立之罪，其共同實行、教唆或幫助者，雖無特定關係，仍以正犯或共犯論。但得減輕其刑。 因身分或其他特定關係致刑有重輕或免除者，其無特定關係之人，科以通常之刑。 第 五 章 刑",
          "metadata": {
            "source": "刑法",
            "article": "第 31 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 30
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 32 條：刑分為主刑及從刑。",
          "metadata": {
            "source": "刑法",
            "article": "第 32 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 31
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 33 條：主刑之種類如下： 一、死刑。 二、無期徒刑。 三、有期徒刑：二月以上十五年以下。但遇有加減時，得減至二月未滿，或加至二十年。 四、拘役：一日以上，六十日未滿。但遇有加重時，得加至一百二十日。 五、罰金：新臺幣一千元以上，以百元計算之。",
          "metadata": {
            "source": "刑法",
            "article": "第 33 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 32
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 35 條：主刑之重輕，依第三十三條規定之次序定之。 同種之刑，以最高度之較長或較多者為重。最高度相等者，以最低度之較長或較多者為重。 刑之重輕，以最重主刑為準，依前二項標準定之。最重主刑相同者，參酌下列各款標準定其輕重： 一、有選科主刑者與無選科主刑者，以無選科主刑者為重。 二、有併科主刑者與無併科主刑者，以有併科主刑者為重。 三、次重主刑同為選科刑或併科刑者，以次重主刑為準，依前二項標準定之。",
          "metadata": {
            "source": "刑法",
            "article": "第 35 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 33
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 36 條：從刑為褫奪公權。 褫奪公權者，褫奪下列資格： 一、為公務員之資格。 二、為公職候選人之資格。",
          "metadata": {
            "source": "刑法",
            "article": "第 36 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 34
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 37 條：宣告死刑或無期徒刑者，宣告褫奪公權終身。 宣告一年以上有期徒刑，依犯罪之性質認為有褫奪公權之必要者，宣告一年以上十年以下褫奪公權。 褫奪公權，於裁判時併宣告之。 褫奪公權之宣告，自裁判確定時發生效力。 依第二項宣告褫奪公權者，其期間自主刑執行完畢或赦免之日起算。但同時宣告緩刑者，其期間自裁判確定時起算之。",
          "metadata": {
            "source": "刑法",
            "article": "第 37 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 35
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 37-1 條：刑期自裁判確定之日起算。 裁判雖經確定，其尚未受拘禁之日數，不算入刑期內。",
          "metadata": {
            "source": "刑法",
            "article": "第 37-1 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 36
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 37-2 條：裁判確定前羈押之日數，以一日抵有期徒刑或拘役一日，或第四十二條第六項裁判所定之罰金額數。 羈押之日數，無前項刑罰可抵，如經宣告拘束人身自由之保安處分者，得以一日抵保安處分一日。 第 五 章之一 沒收",
          "metadata": {
            "source": "刑法",
            "article": "第 37-2 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 37
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 38 條：違禁物，不問屬於犯罪行為人與否，沒收之。 供犯罪所用、犯罪預備之物或犯罪所生之物，屬於犯罪行為人者，得沒收之。但有特別規定者，依其規定。 前項之物屬於犯罪行為人以外之自然人、法人或非法人團體，而無正當理由提供或取得者，得沒收之。但有特別規定者，依其規定。 前二項之沒收，於全部或一部不能沒收或不宜執行沒收時，追徵其價額。",
          "metadata": {
            "source": "刑法",
            "article": "第 38 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 38
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 38-1 條：犯罪所得，屬於犯罪行為人者，沒收之。但有特別規定者，依其規定。 犯罪行為人以外之自然人、法人或非法人團體，因下列情形之一取得犯罪所得者，亦同： 一、明知他人違法行為而取得。 二、因他人違法行為而無償或以顯不相當之對價取得。 三、犯罪行為人為他人實行違法行為，他人因而取得。 前二項之沒收，於全部或一部不能沒收或不宜執行沒收時，追徵其價額。 第一項及第二項之犯罪所得，包括違法行為所得、其變得之物或財產上利益及其孳息。 犯罪所得已實際合法發還被害人者，不予宣告沒收或追徵。",
          "metadata": {
            "source": "刑法",
            "article": "第 38-1 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 39
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 38-2 條：前條犯罪所得及追徵之範圍與價額，認定顯有困難時，得以估算認定之。第三十八條之追徵，亦同。 宣告前二條之沒收或追徵，有過苛之虞、欠缺刑法上之重要性、犯罪所得價值低微，或為維持受宣告人生活條件之必要者，得不宣告或酌減之。",
          "metadata": {
            "source": "刑法",
            "article": "第 38-2 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 40
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 38-3 條：第三十八條之物及第三十八條之一之犯罪所得之所有權或其他權利，於沒收裁判確定時移轉為國家所有。 前項情形，第三人對沒收標的之權利或因犯罪而得行使之債權均不受影響。 第一項之沒收裁判，於確定前，具有禁止處分之效力。",
          "metadata": {
            "source": "刑法",
            "article": "第 38-3 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 41
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 40 條：沒收，除有特別規定者外，於裁判時併宣告之。 違禁物或專科沒收之物得單獨宣告沒收。 第三十八條第二項、第三項之物、第三十八條之一第一項、第二項之犯罪所得，因事實上或法律上原因未能追訴犯罪行為人之犯罪或判決有罪者，得單獨宣告沒收。",
          "metadata": {
            "source": "刑法",
            "article": "第 40 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 42
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 40-2 條：宣告多數沒收者，併執行之。 沒收，除違禁物及有特別規定者外，逾第八十條規定之時效期間，不得為之。 沒收標的在中華民國領域外，而逾前項之時效完成後五年者，亦同。 沒收之宣告，自裁判確定之日起，逾十年未開始或繼續執行者，不得執行。 第 五 章之二 易刑",
          "metadata": {
            "source": "刑法",
            "article": "第 40-2 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 43
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 41 條：犯最重本刑為五年以下有期徒刑以下之刑之罪，而受六月以下有期徒刑或拘役之宣告者，得以新臺幣一千元、二千元或三千元折算一日，易科罰金。但易科罰金，難收矯正之效或難以維持法秩序者，不在此限。 依前項規定得易科罰金而未聲請易科罰金者，得以提供社會勞動六小時折算一日，易服社會勞動。 受六月以下有期徒刑或拘役之宣告，不符第一項易科罰金之規定者，得依前項折算規定，易服社會勞動。 前二項之規定，因身心健康之關係，執行顯有困難者，或易服社會勞動，難收矯正之效或難以維持法秩序者，不適用之。 第二項及第三項之易服社會勞動履行期間，不得逾一年。 無正當理由不履行社會勞動，情節重大，或履行期間屆滿仍未履行完畢者，於第二項之情形應執行原宣告刑或易科罰金；於第三項之情形應執行原宣告刑。 已繳納之罰金或已履行之社會勞動時數依所定之標準折算日數，未滿一日者，以一日論。 第一項至第四項及第七項之規定，於數罪併罰之數罪均得易科罰金或易服社會勞動，其應執行之刑逾六月者，亦適用之。 數罪併罰應執行之刑易服社會勞動者，其履行期間不得逾三年。但其應執行之刑未逾六月者，履行期間不得逾一年。 數罪併罰應執行之刑易服社會勞動有第六項之情形者，應執行所定之執行刑，於數罪均得易科罰金者，另得易科罰金。",
          "metadata": {
            "source": "刑法",
            "article": "第 41 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 44
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 42 條：罰金應於裁判確定後二個月內完納。期滿而不完納者，強制執行。其無力完納者，易服勞役。但依其經濟或信用狀況，不能於二個月內完納者，得許期滿後一年內分期繳納。遲延一期不繳或未繳足者，其餘未完納之罰金，強制執行或易服勞役。 依前項規定應強制執行者，如已查明確無財產可供執行時，得逕予易服勞役。 易服勞役以新臺幣一千元、二千元或三千元折算一日。但勞役期限不得逾一年。 依第五十一條第七款所定之金額，其易服勞役之折算標準不同者，從勞役期限較長者定之。 罰金總額折算逾一年之日數者，以罰金總額與一年之日數比例折算。依前項所定之期限，亦同。 科罰金之裁判，應依前三項之規定，載明折算一日之額數。 易服勞役不滿一日之零數，不算。 易服勞役期內納罰金者，以所納之數，依裁判所定之標準折算，扣除勞役之日期。",
          "metadata": {
            "source": "刑法",
            "article": "第 42 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 45
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 42-1 條：罰金易服勞役，除有下列情形之一者外，得以提供社會勞動六小時折算一日，易服社會勞動： 一、易服勞役期間逾一年。 二、入監執行逾六月有期徒刑併科或併執行之罰金。 三、因身心健康之關係，執行社會勞動顯有困難。 前項社會勞動之履行期間不得逾二年。 無正當理由不履行社會勞動，情節重大，或履行期間屆滿仍未履行完畢者，執行勞役。 社會勞動已履行之時數折算勞役日數，未滿一日者，以一日論。 社會勞動履行期間內繳納罰金者，以所納之數，依裁判所定罰金易服勞役之標準折算，扣除社會勞動之日數。 依第三項執行勞役，於勞役期內納罰金者，以所納之數，依裁判所定罰金易服勞役之標準折算，扣除社會勞動與勞役之日數。",
          "metadata": {
            "source": "刑法",
            "article": "第 42-1 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 46
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 43 條：受拘役或罰金之宣告，而犯罪動機在公益或道義上顯可宥恕者，得易以訓誡。",
          "metadata": {
            "source": "刑法",
            "article": "第 43 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 47
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 44 條：易科罰金、易服社會勞動、易服勞役或易以訓誡執行完畢者，其所受宣告之刑，以已執行論。",
          "metadata": {
            "source": "刑法",
            "article": "第 44 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 48
        }
      },
      {
        "json": {
          "pageContent": "刑法 第 46 條：（刪除） 第 六 章 累犯",
          "metadata": {
            "source": "刑法",
            "article": "第 46 條",
            "type": "official_law"
          }
        },
        "pairedItem": {
          "item": 49
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Replace me with your logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "9ffde182-7126-497d-9efd-73e1a9c11435",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "30fd31a7f71c975659a79ca79698f973b39ff580e5fcfaadab1546b8af8bcd8b"
  },
  "id": "OBlCmwA27Ha6OEPa",
  "tags": []
}